<nav>
  <a routerLink="/about">About</a>
  <a routerLink="/bps">Bps</a>
  <a routerLink="/drs">Drs</a>
  <a routerLink="/home">Home</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/welcome">Welcome</a>
</nav>
<router-outlet></router-outlet>

